.vscode/**/*
**/*.bin
**/*.ipch
proxygen/proxygen/.vscode/ipch/3479c1b55c94808c/mmap_address.bin
proxygen/proxygen/.vscode/ipch/4037f9ba285af4a7/mmap_address.bin
proxygen/proxygen/.vscode/ipch/404ed90e0733eac0/mmap_address.bin
proxygen/proxygen/.vscode/ipch/526d61298cc34c7e/SPDYCODECTEST.ipch
proxygen/proxygen/.vscode/ipch/526d61298cc34c7e/mmap_address.bin
proxygen/proxygen/.vscode/ipch/6653a27dc9fed5d0/HTTP_PARSER_CPP.ipch
proxygen/proxygen/.vscode/ipch/6653a27dc9fed5d0/mmap_address.bin
proxygen/proxygen/.vscode/ipch/7761cb6795fc5036/mmap_address.bin
proxygen/proxygen/.vscode/ipch/8a3e18286e57ef6b/mmap_address.bin
proxygen/proxygen/.vscode/ipch/9828c9d10a01a54d/HTTPUPSTREAMSESSIONTEST.ipch
proxygen/proxygen/.vscode/ipch/9828c9d10a01a54d/mmap_address.bin
proxygen/proxygen/.vscode/ipch/9bb398b8451c523c/mmap_address.bin
proxygen/proxygen/.vscode/ipch/a0c9b9b48d1704ba/mmap_address.bin
proxygen/proxygen/.vscode/ipch/a560f42108011f53/mmap_address.bin
proxygen/proxygen/.vscode/ipch/b48925c9804f4af1/HTTPMESSAGETEST.ipch
proxygen/proxygen/.vscode/ipch/b48925c9804f4af1/mmap_address.bin
proxygen/proxygen/.vscode/ipch/c57ec56e01e515a4/mmap_address.bin
proxygen/proxygen/.vscode/ipch/d986125697236567/mmap_address.bin
proxygen/proxygen/.vscode/ipch/da26a3c230c4a40c/mmap_address.bin
proxygen/proxygen/.vscode/ipch/da26a3c230c4a40c/BUFFER.ipch
